#errorMessage {
    font-weight: bold;
    color: red;
    margin-top: 12px;
}

#laskenta{
    width:710px;//55%;
    float:left;
}
#esimerkit{
    width:250px;//20%;
    float:left;
    margin-left: 20px;
}

#kuvat{
    width:250px;//25%;
    float:left;
}

#spostiotsikot{
    width:150px;
    float:left;
}